.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #dadada, #0a0e14);
  padding: 0.75rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0px 0px;
}

.navbar-brand-custom {
  color: #ff9900;
  font-weight: 700;
  font-size: 1.8rem;
  text-decoration: none;
  transition: transform 0.2s;
}

.navbar-brand-custom:hover {
  transform: scale(1.05);
}

.cart-custom {
  color: #ffffff;
  font-weight: 500;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.badge-custom {
  background-color: #ff9900;
  color: #000;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  font-weight: bold;
  font-size: 0.9rem;
}

/* SearchBar styles */
.search-bar-container {
  width: 400px;
  position: relative;
}

.search-input {
  width: 100%;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

.search-results {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 250px;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.search-item {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.search-item:hover {
  background-color: #f0f0f0;
}

.search-item-img {
  width: 40px;
  margin-right: 10px;
  object-fit: contain;
}




/* accounts & Lists */
  .accounts-lists-dropdown {
  background: white;
  color: black;
  min-width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.accounts-lists ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accounts-lists-item {
  padding: 5px 0;
  cursor: pointer;
}

.accounts-lists-item:hover {
  background-color: #f0f0f0;
}

